div.highlight {
  pre {
    font-size: 70%;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    code {
      span {
        span {
          line-height: 110%;
        }
        
      }
    }
  }
}

:not(pre) > code {
  background-color: lightgrey;
  padding: 0 5px;
}

code.language-text > span[style="display:flex; background-color:#6e7681"] :first-child {
  color: #e6edf3 !important;
}

table.full-width {
  width: 100%;
}

body.character-limit table.full-width {
  width: var(--gcds-text-character-limit);
}

#TableOfContents ol {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}