.splash-page {
    background: url('../images/sp-bg-1.jpg') no-repeat center center fixed;
    background-size: cover;


    h1::after {
      display:none;
    }


  .light-bg {
    background: var(--gcds-bg-white);
    border-radius: 10px;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.5);
  }

  #cnt-splash {

    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .gc-header {
    padding: 1rem;
    padding-bottom: 0px;
  }

  .gc-footer {
    background-color: #D9D9D9;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;

  }

  .gc-footer .terms {
    width: 100%;
  }

  .gc-footer svg {
    width: 80%;
  }
}

.hero gcds-heading.hydrated {
  color: white;
}

.bg-full-width {
  position: relative;
  width: calc(100% + var(--gcds-spacing-300));
  margin-inline: calc(-1 * var(--gcds-spacing-150));
  padding-inline: var(--gcds-spacing-150);
}
.bg-full-width:before,
.bg-full-width:after {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  content: "";
  background-color: inherit;
}
.bg-full-width:before {
  left: calc(-100vw + 0.01px);
}
.bg-full-width:after {
  right: calc(-100vw + 0.01px);
}

.bg-light-blue {
  background-color: var(--gcds-color-blue-100);
  color: var(--gcds-color-blue-800);
}

.hero {
  background: url(../images/home-hero.jpg) top center no-repeat;
  background-size: cover;
}
.hero:before {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  content: "Image credit: John Lee, https://unsplash.com/photos/oMneOBYhJxY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink";
}
.hero .hero__content {
  position: relative;
  width: 80%;
  max-width: 40.625rem;
}
.hero .hero__content:before {
  position: absolute;
  top: 0;
  left: calc(-100vw + 0.01px);
  width: 100vw;
  height: 100%;
  content: "";
  background-color: var(--gcds-color-blue-900);
}

gcds-fieldset[fieldset-id="field-toc"] {
  padding-top: 1em;
}

#TableOfContents ol {
  list-style-type: disc;
  margin: 1em;
  padding-inline-start: 20px;
}

gcds-container ol {
  list-style-type: auto;
  padding-inline-start: 30px;
  // li {
  //   margin: 0.5em 0px;
  // }
}

gcds-container ul {
  list-style-type: disc;
  // margin-block-start: 0.25em;
  // margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
  // li {
  //   margin-top: 0.5em;
  // }
}

gcds-text + ol, gcds-text + ul {
  margin-top: -20px
}

ol + gcds-text, ul + gcds-text {
  padding-top: 20px
}

.character-limit gcds-container {
  li, dt, dd {
    max-width: var(--gcds-text-character-limit);
  }
}

body.character-limit div.highlight {
  width: var(--gcds-text-character-limit);
}

ul > li, ol > li {
  color: var(--gcds-text-primary);
}

pre {
  padding: 1em;
}

blockquote {
  background-color: var(--gcds-alert-info-background);
  border-left: 0.375rem solid var(--gcds-alert-info-icon);
  color: var(--gcds-alert-info-text);
  margin: var(--gcds-spacing-100) 0;
  padding: var(--gcds-spacing-200) var(--gcds-spacing-300);
}

.pilcrow {
  opacity: 0;
  transition: opacity 0.2s;
  text-decoration: none;
  color: #26374a;
  margin-left: 0.25em;
}

gcds-heading:hover .pilcrow {
  opacity: 1;
}
